{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
      Carrera
  </h2>

  <div class="summary">
      Soy estudiante de Ingeniería de Sistemas en la Pontificia Universidad Javeriana, actualmente cursando el quinto semestre. Apasionado por la tecnología y el desarrollo de software, me enfoco en la resolución de problemas complejos y en la optimización de procesos mediante soluciones tecnológicas.  
      A lo largo de mi formación, he desarrollado una sólida base en programación, análisis de sistemas y gestión de proyectos. Tengo experiencia trabajando con lenguajes de programación como C, C++, Python y Java, y me interesa seguir expandiendo mis conocimientos en desarrollo de software, inteligencia artificial y bases de datos.
      Busco oportunidades para aplicar mis habilidades, aprender de profesionales experimentados y colaborar en proyectos innovadores que contribuyan al desarrollo de soluciones tecnológicas efectivas.  
</div><!--//summary-->
    
</section><!--//section-->
{% endif %}
